body {
	height: 100%;
	background-image: url("https://newevolutiondesigns.com/images/freebies/city-wallpaper-14.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.homeCover {
	width: 60% !important;
	background: rgba(220, 220, 220, .4);
	margin: 110px auto;
	height: 100%;
	text-align: center;
	border-radius: 15px;
	color: black;
	padding: 10px;

}

.surveyCover {
	width: 60% !important;
	background: rgba(220, 220, 220, .4);
	margin: 100px auto;
	height: 100%;
	text-align: center;
	border-radius: 15px;
	color: black;
	padding: 10px;
	float: left;


}

#radioBtn {
	margin: 20px 5px !important;
	width: 80px;
	cursor: pointer;
	margin-bottom: 


}

.imgInput {
	width: 300px;
}


.but {
	margin: 20px !important;
}

.userInfo {
	margin: 20px;
	/*border: 1px solid black;*/
	height: 300px;
	width: 220px;
	float: left;
	background: rgba(220, 220, 220, .4);
	border-radius: 15px;
	padding: 10px;
	color: black;
}

#imgStyle {
	width: 200px;
}